<div id="<%= dom_id evidence %>">
  <p>
    <strong>Title:</strong>
    <%= evidence.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= evidence.description %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= evidence.order %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= evidence.status %>
  </p>

  <p>
    <strong>Distributor:</strong>
    <%= evidence.distributor %>
  </p>

</div>
